* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.section1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px black;
}

.sideBar {
  height: 100vh;
  width: 50vw;
  background-color: #2d2e69;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.sideBar p {
  line-height: 60px;
  font-size: 40px;
  color: antiquewhite;
  letter-spacing: -2px;
}

.sideBar h3 {
  font-weight: 900;
  font-size: 5rem;
  color: azure;
  text-shadow: 0px 0px 20px yellow;
}

.imgContainer {
  height: 100vh;
  width: 50vw;
  padding: 0;
  overflow: hidden;
  transition: ease 0.4s;
}

.imgContainer:hover {
  transform: scale(1);
}

.imgContainer img {
  height: 100vh;
  width: 50vw;
  background-size: cover;
  object-fit: cover;
}

.section2 {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
}

.section2 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  /* z-index: 1; */
  overflow: hidden;
  background-attachment: fixed;
  background-image: url("images/photo4.jpg");
  display: flex;
  flex-direction: column;
  transition: ease 0.4s;
  color: #fff;
}

.aboutText {
  margin-inline: 30px;
  color: #fff !important;
  font-weight: 900;
}

.aboutH3 {
  font-size: 10rem;
  color: aliceblue;
  margin-inline-start: 80px;
  font-weight: bolder;
  margin-bottom: 60px;
  text-shadow: 0px 0px 20px yellow;
}

.aboutSection {
  height: fit-content;
  width: 90vw;
  background: rgba(255, 204, 94, 0.2);
  backdrop-filter: blur(10px);
  margin-inline: auto;
  border-radius: 30px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-inline: 40px;
  align-items: center;
}

.imgAbout {
  height: fit-content;
  /* margin-inline: 30px; */
}

.imgAbout img {
  border-radius: 10px;
}

.section3 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  /* z-index: 1; */
  overflow: hidden;
  background-attachment: fixed;
  background-image: url("images/photo1.jpg");
  transition: ease 0.4s;
  color: #fff;
}

.skillSection {
  height: 600px;
  width: 95vw;
  margin-inline: auto;
  background: rgba(47, 137, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  color: #fff;
  padding-inline: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.skillContainer {
  /* height: 50vw; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skill1 {
  height: fit-content;
  width: fit-content;
  transition: all 0.4s cubic-bezier(0.23, 1.83, 0.42, 1.19);
}

.div2 {
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background: rgba(0, 225, 255, 0.4); */
  background: rgba(30, 128, 255, 0.3);
  cursor: pointer;
}

.div1 {
  height: 210px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: rgb(255, 241, 159); */
  background: rgba(47, 137, 255, 0.3);
}

.div1:hover {
  transform: rotateX(20°);
  background: transparent;
  transition: all 0.4s cubic-bezier(0.23, 1.83, 0.42, 1.19);
  transition: ease-in 0.3s;
  color: #fff !important;
  text-shadow: 0px 0px 5px yellow;
}

.div2:hover {
  transition: ease-in 0.3s;
  background: -webkit-radial-gradient(rgb(0, 102, 255), rgb(100, 185, 255));
}

.skill2 {
  height: fit-content;
  width: fit-content;
}

.skill3 {
  height: fit-content;
  width: fit-content;
}

.skill4 {
  height: fit-content;
  width: fit-content;
}

.section4 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  /* z-index: 1; */
  overflow: hidden;
  background-attachment: fixed;
  background-image: url("images/photo2.jpg");
  transition: ease 0.4s;
}

.skillBrand {
  font-size: 40px;
  font-weight: 900;
}

.skillTitle {
  font-size: 50px;
  font-weight: 900;
  margin-top: 20px;
  color: #fff !important;
  text-shadow: 0px 0px 10px yellow;
}

.section5 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  /* z-index: 1; */
  overflow: hidden;
  background-attachment: fixed;
  /* background-image: url("images/photo3.jpg"); */
  transition: ease 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* Key addition for blending */
  background-color: black;
}

.thanks {
  font-size: 28vw;
  color: black; /* Set a base color for better contrast */
  background-image: url("images/photo3.jpg");

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 2s linear opacityTitle;
  height: 75%;
  width: 100%;
  text-rendering: optimizeSpeed;

  /* text-shadow: 10px 10px 0px yellow; */
}

.bottomSection {
  height: 25%;
  width: 100%;
  background-color: #2d2e69;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  background-blend-mode: multiply;
}
.topSection {
  height: 75%;
  width: 100%;
  background-color: #0e11c0;
  /* background-color: transparent; */
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: multiply;
}
.copyright {
  color: #fff;
}

.hr {
  width: 70%;
  margin-inline: auto;
}

.iconesContainer {
  width: 100%;
  margin-top: 50px;
}

.icones {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .imgAbout {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  .aboutSection {
    flex-direction: column;
    width: 95vw;
    object-fit: cover;
    background-size: cover;
    margin-bottom: 50px;
  }

  .aboutText {
    margin-inline: 10px;
    color: #fff !important;
    font-weight: 900;
    /* align-items: j; */
    scrollbar-width: 20px;
    scroll-behavior: smooth;
  }
  .sideBar {
    height: 20%;
    width: 100vw;
    background-color: #2d2e69;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-inline: 20px;
  }
  .section1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 20px black;
  }
  .imgContainer {
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
    transition: ease 0.4s;
  }

  .imgContainer img {
    height: 100vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
    transition: ease 0.4s;
  }

  .sideBar p {
    line-height: 20px;
    font-size: 18px;
    color: antiquewhite;
    letter-spacing: 2px;
  }

  .sideBar h3 {
    font-weight: 900;
    font-size: 40px;
    color: azure;
    text-shadow: 0px 0px 5px yellow;
  }

  .aboutH3 {
    font-size: 60px;
    color: aliceblue;
    margin-inline-start: 30px;
    font-weight: bolder;
    margin-bottom: 40px;
    height: 100px;
  }

  .skillContainer {
    /* height: 50vw; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
  }
  .div2 {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background: rgba(0, 225, 255, 0.4); */
    background: rgba(30, 128, 255, 0.3);
    cursor: pointer;
  }

  .div1 {
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: rgb(255, 241, 159); */
    background: rgba(47, 137, 255, 0.3);
  }

  .skillTitle {
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
    color: #fff !important;
    text-shadow: 0px 0px 5px yellow;
  }
}

@media screen and (max-width: 675px) {
  .div2 {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background: rgba(0, 225, 255, 0.4); */
    background: rgba(30, 128, 255, 0.3);
    cursor: pointer;
  }

  .div1 {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: rgb(255, 241, 159); */
    background: rgba(47, 137, 255, 0.3);
  }

  .skillTitle {
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
    color: #fff !important;
    text-shadow: 0px 0px 5px yellow;
  }

  .skillContainer {
    /* height: 30%; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
  }
  .skillBrand {
    font-size: 20px;
  }
  .skillSection {
    height: 65%;
    margin-bottom: 50px;
    justify-content: space-evenly;
  }
  .aboutH3 {
    /* margin-bottom: 25px;
    height: 140px; */
    font-size: 40px;
    text-shadow: 0px 0px 5px yellow;
  }
}
